<a href="https://colab.research.google.com/github/ValentinoVizner/Python_Deep_Dive_1/blob/master/Deep_Dive_1_Section_5_Function_parametars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1RktVu4GrxabjIrG9nWrKUGeIsrDnN4yd)

# 1.Argument vs Parameter

![alt text](https://drive.google.com/uc?id=1NRveo14B4MwIZcY4UoEPgJql9ChIwzD1)

![alt text](https://drive.google.com/uc?id=1ZYxTcrUlfAcg2fownZCZAA4KsDHB8Zzf)

# 2.POSITIONAL and KEYWORD arguments

![alt text](https://drive.google.com/uc?id=1rUpU4LL_m9G6yv9gD19jwLoliMmWWUL8)

![alt text](https://drive.google.com/uc?id=1aPsOA2RyaDxwdZNZ86PvTbaZq6Satx_I)

![alt text](https://drive.google.com/uc?id=1ec8w9hzR4paeTlUZz-iaqmtF-Widn0xg)

![alt text](https://drive.google.com/uc?id=18J9C5mIyMw4hZhwmyTrYL2i9MhToW6AJ)

![alt text](https://drive.google.com/uc?id=13bn99cvosh7pq4MZgV5voh5dDL40ur9T)

## Coding time

### Positional Arguments

In [0]:
def my_func(a, b, c):
    print(f"a={a}, b={b}, c={c}")

In [0]:
my_func(1, 2, 3)

a=1, b=2, c=3

#### Default Values

In [0]:
def my_func(a, b=2, c=3):
    print(f"a={a}, b={b}, c={c}")

Note that once a parameter is assigned a default value, **all** parameters thereafter **must** be asigned a default value too!
</br>
For example, this will not work:

In [0]:
def fn(a, b=2, c):
    print(a, b, c)

SyntaxError: ignored

In [0]:
def my_func(a, b=2, c=3):
    print(f"a={a}, b={b}, c={c}")

In [0]:
my_func(10, 20, 30)

a=10, b=20, c=30

In [0]:
my_func(10, 20)

a=10, b=20, c=3

In [0]:
my_func(10)

a=10, b=2, c=3

Since **a** does not have a default value, it **must** be specified:

In [0]:
def my_func(a=1, b=2, c=3):
    print(f"a={a}, b={b}, c={c}")

In [0]:
my_func()

a=1, b=2, c=3

#### Keyword Arguments (named arguments)

Positional arguments, can **optionally**, be specified using their corresponding parameter name.

This allows us to pass the arguments without using the positional assignment:

In [0]:
def my_func(a, b=2, c=3):
    print(f"a={a}, b={b}, c={c}")

In [0]:
my_func(c=30, b=20, a=10)

a=10, b=20, c=30

In [0]:
my_func(10, c=30, b=20)

a=10, b=20, c=30

Note that once a keyword argument has been used, **all** arguments thereafter **must** also be named:

In [0]:
my_func(10, b=20, 30)

SyntaxError: ignored

However, if a parameter has a default value, it *can* be omitted from the argument list, named or not:

In [0]:
my_func(10, c=30)

a=10, b=2, c=30

In [0]:
my_func(a=30, c=10)

a=30, b=2, c=10

In [0]:
my_func(c=10, a=30)

a=30, b=2, c=10

# 3.UNPACKING: Iterables

![alt text](https://drive.google.com/uc?id=1QnoOoq52Hmt8QKNfheVe0otIjQSx5wu1)

![alt text](https://drive.google.com/uc?id=1vfUCx-aASJBl2f4q-cO9EFLGTUgvr7uH)

![alt text](https://drive.google.com/uc?id=1cE7IcJZ8PGiefZy9uMDRC1WDz0KO6HEK)

![alt text](https://drive.google.com/uc?id=1eDahnGGOvCEJA89eqlw7pt70Awd-O-Um)

![alt text](https://drive.google.com/uc?id=10GICEPgBZDs9-cyp-GMwif4dT6uPJvfW)

![alt text](https://drive.google.com/uc?id=1LR0pmueadPXr7RpJ4CCnRA6vgu-TuWF0)

![alt text](https://drive.google.com/uc?id=14AiuDje8wdznyTY_XtL4AiecdZd-x_Qe)

## Coding Time

### Side Note on Tuples

This is a tuple:

In [0]:
a = (1, 2, 3)

In [0]:
type(a)

tuple

This is also a tuple:

In [0]:
a = 1, 2, 3

In [0]:
type(a)

tuple

In fact what defines a tuple is not **()**, but the **,** (comma)

To create a tuple with a single element:

In [0]:
a = (1)

will not work!!

In [0]:
type(a)

int

Instead, we have to use a comma:

And in fact, we don't even need the **()**:

In [0]:
a = 1,

In [0]:
type(a)

tuple

The only exception is to create an empty tuple:

In [0]:
a = ()

In [0]:
type(a)

tuple

Or we can use the tuple constructor:

In [0]:
a = tuple()

In [0]:
type(a)

tuple

### Unpacking

Unpacking is a way to split an iterable object into individual variables contained in a list or tuple:

In [0]:
l = [1, 2, 3, 4]

In [0]:
a, b, c, d = l

In [0]:
print(a, b, c, d)

1 2 3 4

Strings are iterables too:

In [0]:
a, b, c = 'XYZ'
print(a, b, c)

X Y Z

### Swapping Two Variables

Here's a quick application of unpacking to swap the values of two variables.
</br>
</br>
First we look at the "traditional" way you would have to do it in other languages such as Java:

In [0]:
a = 10
b = 20
print("a={0}, b={1}".format(a, b))

tmp = a
a = b
b = tmp
print("a={0}, b={1}".format(a, b))

a=10, b=20
a=20, b=10

But using unpacking we can simplify this:

In [0]:
a = 10
b = 20
print("a={0}, b={1}".format(a, b))

a, b = b, a
print("a={0}, b={1}".format(a, b))

a=10, b=20
a=20, b=10

In fact, we can even simplify the initial assignment of values to a and b as follows:

In [0]:
# Python will fistly evaluate RHS and memory
# It's going to create tuple object that will contain references to 10 and 20 and then it assigns
a, b = 10, 20
print("a={0}, b={1}".format(a, b))

a, b = b, a
print("a={0}, b={1}".format(a, b))

a=10, b=20
a=20, b=10

It's not really readable, but it can be handy:

In [0]:
a, b, c = 1, (1,2), [3, 4, 5]
print(a)
print(b)
print(c)

1
(1, 2)
[3, 4, 5]

### Unpacking Unordered Objects

In [0]:
dict1 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [0]:
dict1

{'h': 4, 'n': 6, 'o': 5, 'p': 1, 't': 3, 'y': 2}

### INTERESTING: Here is intresting point that can confuse:

In [0]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
a, b, c, d = d

In [0]:
# d is not Pointing to dictionary but in fact just key in dict
print(a, b, c, d)

a b c d

In [0]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d, a, b, c = d
print(d, a, b, c)

a b c d

In [0]:
for c in dict1:
    print(c)

p
y
t
h
o
n

In [0]:
a, b, c, d, e, f = dict1
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

p
y
t
h
o
n

Note that this order is not guaranteed. You can always use an OrderedDict if that is a requirement.
</br>
</br>
Here we see we can look at indexes.

In [0]:
s = "XYZ"
print(s[0])
print(s[1])
print(s[2])

X
Y
Z

But with sets, it's another story:

In [0]:
s = {1, 2, 3}
print(s[0])

TypeError: ignored

There is no order in SETS/DICTIONARIES!!!!!!

In [0]:
s = {'p', 'y', 't', 'h', 'o', 'n'}

In [0]:
type(s)

set

In [0]:
print(s)

{'h', 'o', 'y', 'p', 'n', 't'}

In [0]:
for c in s:
    print(c)

h
o
y
p
n
t

In [0]:
a, b, c, d, e, f = s

In [0]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

h
o
y
p
n
t

In [0]:
for a, b in dict1.items():
    print(f"key={a}, value={b}")

key=p, value=1
key=y, value=2
key=t, value=3
key=h, value=4
key=o, value=5
key=n, value=6

# 4.EXTENDED Unpacking: * and ** Operators

![alt text](https://drive.google.com/uc?id=1CiA6UFZAAp0Y4GyGfJ_ctXKctCh2561Q)

![alt text](https://drive.google.com/uc?id=1Gjq2jXet6-Tp7sNpPgOg5eJ7cAn4uYol)

![alt text](https://drive.google.com/uc?id=1mOs16JaNMDUs0LUiGLwcx5xxdhyq0hJn)

![alt text](https://drive.google.com/uc?id=1qsGJQF_wtibGyGLUhTGGpZX3tGk0JFNq)

![alt text](https://drive.google.com/uc?id=1htfK5s-MRyHyqh03bW2a7YFxzbNrzhou)

![alt text](https://drive.google.com/uc?id=10c-BtvxABRxksYcn48oVFMli9j6C15ce)

![alt text](https://drive.google.com/uc?id=1T9pHML9w851rsI3OFwugvt1IxztBYwFY)

![alt text](https://drive.google.com/uc?id=1k85rHiiHfGizwvlLLLJDqmEOLchTrj_-)

![alt text](https://drive.google.com/uc?id=1VpmQc43cRY45_HXVpqWKpfFX4IxHFLmk)

![alt text](https://drive.google.com/uc?id=1q-DnfvgiLBV5M_ukk8sIa8dPX_JacfOF)

![alt text](https://drive.google.com/uc?id=1R24lo1Kk0ucp2KghLhcQs__vytkXF6K7)

## Coding time

Let's see how we might split a list into it's first element, and "everything else" using slicing:

In [0]:
l = [1, 2, 3, 4, 5, 6]

In [0]:
a = l[0]
b = l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

We can even use unpacking to simplify this slightly:

In [0]:
a, b = l[0], l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

But we can use the **\*** operator to achieve the same result:

In [0]:
a, *b = l
print(a)
print(b)

1
[2, 3, 4, 5, 6]

With strings:

In [0]:
a, *b = 'python'
print(a)
print(b)

p
['y', 't', 'h', 'o', 'n']

What about extracting the first, second, last elements and *the rest*.
</br>
</br>
Again we can use slicing:

In [0]:
s = 'python'

a, b, c, d = s[0], s[1], s[2:-1], s[-1]
print(a)
print(b)
print(c)
print(d)

p
y
tho
n

But we can just as easily do it this way using unpacking:

In [0]:
a, b, *c, d = s
print(a)
print(b)
print(c)
print(d)

p
y
['t', 'h', 'o']
n

As you can see though, **c** is a list of characters, not a string.

It that's a problem we can easily fix it this way:

In [0]:
print(c)
c = ''.join(c)
print(c)

['t', 'h', 'o']
tho

We can also use unpacking on the right hand side of an assignment expression:

In [0]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l = [*l1, *l2]
print(l)

[1, 2, 3, 4, 5, 6]

In [0]:
l1 = [1, 2, 3]
s = 'ABC'
l = [*l1, *s]
print(l)

[1, 2, 3, 'A', 'B', 'C']

This unpacking works with unordered types such as sets and dictionaries as well.

The only thing is that it may not be very useful considering there is no particular ordering, so a first or last element has no real useful meaning.

In [0]:
s = {10, -99, 3, 'd'}

In [0]:
for c in s:
    print(c)

d
10
3
-99

As you can see, the order of the elements when we created the set was not retained!

In [0]:
s = {10, -99, 3, 'd'}
a, b, *c = s
print(a)
print(b)
print(c)

d
10
[3, -99]

So unpacking this way is of limited use.

However consider this:

In [0]:
s = {10, -99, 3, 'd'}
*a, = s
print(a)

['d', 10, 3, -99]

At first blush, this doesn't look terribly exciting - we simply unpacked the set values into a list.

But this is actually quite useful in both sets and dictionaries to combine things (although to be sure, there are alternative ways to do this as well - which we'll cover later in this course)

In [0]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

How can we combine both these sets into a single merged set?

In [0]:
s1 + s2

TypeError: ignored

Well, **+** doesn't work...
</br>
</br>
We could use the built-in method for unioning sets:

In [0]:
print(s1)
print(s2)
s1.union(s2)

{1, 2, 3}
{3, 4, 5}

{1, 2, 3, 4, 5}

What about joining 4 different sets?

In [0]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
s4 = {7, 8, 9}
print(s1.union(s2).union(s3).union(s4))
print(s1.union(s2, s3, s4))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

Or we could use unpacking in this way:

In [0]:
{*s1, *s2, *s3, *s4}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

What we did here was to unpack each set directly into another set!
</br>
</br>
The same works for dictionaries - just remember that **\*** for dictionaries unpacks the keys only.

In [0]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}
[*d1, *d2]

['key1', 'key2', 'key2', 'key3']

So, is there anything to unpack the key-value pairs for dictionaries instead of just the keys?
</br>
</br>
Yes - we can use the **\*\*** operator:

In [0]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}

{**d1, **d2}

{'key1': 1, 'key2': 3, 'key3': 3}

Notice what happened to the value of **key2**. The value for the second occurrence of **key2** was retained (overwritten).
</br>
</br>
In fact, if we write the unpacking reversing the order of d1 and d2:

In [0]:
{**d2, **d1}

{'key1': 1, 'key2': 2, 'key3': 3}

we see that the value of **key2** is now **2**, since it was the second occurrence.
</br>
</br>
Of course, we can unpack a dictionary into a dictionary as seen above, but we can mix in our own key-value pairs as well - it is just a dictionary literal after all.

In [0]:
{'a': 1, 'b': 2, **d1, **d2, 'c':3}

{'a': 1, 'b': 2, 'c': 3, 'key1': 1, 'key2': 3, 'key3': 3}

Again, if we have the same keys, only the "latest" value of the key is retained:

In [0]:
{'key1': 100, **d1, **d2, 'key3': 200}

{'key1': 1, 'key2': 3, 'key3': 200}

### Nested Unpacking

Python even supports nested unpacking:

In [0]:
a, b, (c, d) = [1, 2, ['X', 'Y']]
print(a)
print(b)
print(c)
print(d)

1
2
X
Y

In fact, since a string is an iterable, we can even write:

In [0]:
a, b, (c, d) = [1, 2, 'XY']
print(a)
print(b)
print(c)
print(d)

1
2
X
Y

We can even write something like this:

In [0]:
a, b, (c, d, *e) = [1, 2, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
p
y
['t', 'h', 'o', 'n']

Remember when we said that we can use a * only **once**...
</br>
</br>
How about this then?

In [0]:
a, *b, (c, d, *e) = [1, 2, 3, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

We can break down what happened here in multiple steps:

In [0]:
a, *b, tmp = [1, 2, 3, 'python']
print(a)
print(b)
print(tmp)

1
[2, 3]
python

In [0]:
c, d, *e = tmp
print(c)
print(d)
print(e)

p
y
['t', 'h', 'o', 'n']

So putting it together we get our original line of code:

In [0]:
a, *b, (c, d, *e) = [1, 2, 3, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

If we wanted to do the same thing using slicing:

In [0]:
l = [1, 2, 3, 'python']
l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])

(1, [2, 3], 'p', 'y', ['t', 'h', 'o', 'n'])

In [0]:
l = [1, 2, 3, 'python']
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

Of course, this works for arbitrary lengths and indexable sequence types:

In [0]:
l = [1, 2, 3, 4, 'unladen swallow']
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3, 4]
u
n
['l', 'a', 'd', 'e', 'n', ' ', 's', 'w', 'a', 'l', 'l', 'o', 'w']

or even:

In [0]:
l = [1, 2, 3, 4, ['a', 'b', 'c', 'd']]
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3, 4]
a
b
['c', 'd']

# 5.*ARGS

![alt text](https://drive.google.com/uc?id=1ljSEgf2-bg2xu02nYZXpp9CUpBCs_PuP)

![alt text](https://drive.google.com/uc?id=1J601rUKwjG7GIb80V5NchcaF17vZ6HHd)

![alt text](https://drive.google.com/uc?id=1GmLwxOAIfzbyZnTU-72_ixP2D7HxdTDh)

![alt text](https://drive.google.com/uc?id=1oKNeyCqqeatpapxCk2TkUcv4ltNTjFu7)

## Codig time

Recall from iterable unpacking:

In [0]:
a, b, *c = 10, 20, 'a', 'b'

In [0]:
print(a, b)
print(c)

We can use a similar concept in function definitions to allow for arbitrary numbers of **positional** parameters/arguments:

In [0]:
def func1(a, b, *args):
    print(a)
    print(b)
    print(args)

In [0]:
func1(1, 2, 'a', 'b')

A few things to note:
</br>
</br>
1. Unlike iterable unpacking, **\*args** will be a **tuple**, not a list.

2. The name of the parameter **args** can be anything you prefer

3. You cannot specify positional arguments **after** the **\*args** parameter - this does something different that we'll cover in the next lecture.

In [0]:
def func1(a, b, *my_vars):
    print(a)
    print(b)
    print(my_vars)

func1(10, 20, 'a', 'b', 'c')

10
20
('a', 'b', 'c')

In [0]:
def func1(a, b, *c, d):
    print(a)
    print(b)
    print(c)
    print(d)

func1(10, 20, 'a', 'b', 100)

TypeError: ignored

Let's see how we might use this to calculate the average of an arbitrary number of parameters.

In [0]:
def avg(*args):
    count = len(args)
    total = sum(args)
    return total/count

avg(2, 2, 4, 4)

3.0

But watch what happens here:

In [0]:
avg()

ZeroDivisionError: ignored

The problem is that we passed zero arguments.

We can fix this in one of two ways:

In [0]:
def avg(*args):
    count = len(args)
    total = sum(args)
    if count == 0:
        return 0
    else:
        return total/count

avg(2, 2, 4, 4)

3.0

In [0]:
avg()

0

We can short circuit and avoid if/else statement by doing this:

In [0]:
def avg(*args):
    count = len(args)
    total = sum(args)
    return count and total/count

In [0]:
avg()

0

But we may not want to allow specifying zero arguments, in which case we can split our parameters into a required (non-defaulted) positional argument, and the rest:

In [0]:
def avg(a, *args):
    count = len(args) + 1
    total = a + sum(args)
    return total/count

avg(2, 2, 4, 4)

3.0

In [0]:
avg()

TypeError: ignored

As you can see, an exception occurs if we do not specify at least one argument.

### Unpacking an iterable into positional arguments

In [0]:
def func1(a, b, c):
    print(a)
    print(b)
    print(c)

l = [10, 20, 30]

This will **not** work:

In [0]:
func1(l)

TypeError: ignored

The function expects three positional arguments, but we only supplied a single one (albeit a list).

But we could unpack the list, and **then** pass it to as the function arguments:

In [0]:
*l,

(10, 20, 30)

In [0]:
func1(*l)

10
20
30

What about mixing positional and keyword arguments with this?

In [0]:
def func1(a, b, c, *d):
    print(a)
    print(b)
    print(c)
    print(d)

func1(10, c=20, b=10, 'a', 'b')

SyntaxError: ignored

Recall that once a keyword argument is used in a function call, we **cannot** use positional arguments after that. 

However, in the next lecture we'll look at how to address this issue.

# 6.Keyword Arguments

![alt text](https://drive.google.com/uc?id=1-sPK1aHLjFhpwE7wtR7euNLpifeqU-Hd)

![alt text](https://drive.google.com/uc?id=1fOuOJSi8slqUvI_um_FaXIGxRp52C6ao)

![alt text](https://drive.google.com/uc?id=1I7A85rR3r2QNuAq_VhuDcxqEPm3InJEg)

![alt text](https://drive.google.com/uc?id=1LX1lvrE8X0MJ1LX03ayKOSjbKr48LArC)

## Coding time

Recall: positional parameters defined in functions can also be passed as named (keyword) arguments.

In [0]:
def func1(a, b, c):
    print(a, b, c)

func1(10, 20, 30)

10 20 30

In [0]:
func1(b=20, c=30, a=10)

10 20 30

In [0]:
func1(10, c=30, b=20)

10 20 30

Using a named argument is optional and up to the caller.
</br>
</br>
What if we wanted to force calls to our function to use named arguments?
</br>
</br>
We can do so by **exhausting** all the positional arguments, and then adding some additional parameters in teh function definition:

In [0]:
def func1(a, b, *args, d):
    print(a, b, args, d)

Now we will need at least two positional arguments, an optional (possibly even zero) number of additional arguments, and this extra argument which is supposed to go into **d**. This argument can **only** be passed to the function using a named (keyword) argument:
</br>
</br>
So, this will not work:

In [0]:
func1(10, 20, 'a', 'b', 100)

TypeError: ignored

But this will:

In [0]:
func1(10, 20, 'a', 'b', d=100)

As you can see, **d** took the keyword argument, while the remaining arguments were handled as positional parameters.
</br>
</br>
We can even define a function that has only optional positional arguments and mandatory keyword arguments:

In [0]:
def func1(*args, d):
    print(args)
    print(d)

In [0]:
func1(1, 2, 3, d='hello')

(1, 2, 3)
hello

We can of course, not pass any positional arguments:

In [0]:
func1(d='hello')

()
hello

but the positional argument is mandatory (since no default was provided in the function definition):

In [0]:
func1()

TypeError: ignored

To make the keyword argument optional, we just need to specify a default value in the function definition:

In [0]:
def func1(*args, d='n/a'):
    print(args)
    print(d)

In [0]:
func1(1, 2, 3)

(1, 2, 3)
n/a

In [0]:
func1()

()
n/a

Sometimes we want **only** keyword arguments, in which case we still have to exhaust the positional arguments first - but we can use the following syntax if we do not want any positional parameters passed in:

In [0]:
def func1(*, d='hello'):
    print(d)

func1(10, d='bye')

TypeError: ignored

In [0]:
func1(10, d='bye')

TypeError: ignored

In [0]:
func1(d='bye')

bye

Of course, if we do not provide a default value for the keyword argument, then we effectively are forcing the caller to provide the keyword argument:

In [0]:
def func1(*, a, b):
    print(a)
    print(b)

func1(a=10, b=20)

10
20

but, the following would not work:

In [0]:
func1(10, 20)

TypeError: ignored

Unlike positional parameters, keyword arguments do not have to be defined with non-defaulted and then defaulted arguments:

In [0]:
def func1(a, *, b='hello', c):
    print(a, b, c)

func1(5, c='bye')

5 hello bye

We can also include positional non-defaulted (first), positional defaulted (after positional non-defaulted) followed lastly (after exhausting positional arguments) by keyword args (defaulted or non-defaulted in any order)

In [0]:
def func1(a, b=20, *args, d=0, e='n/a'):
    print(a, b, args, d, e)

func1(5, 4, 3, 2, 1, d=0, e='all engines running')

5 4 (3, 2, 1) 0 all engines running

In [0]:
func1(0, 600, d='goooood morning', e='python!')

0 600 () goooood morning python!

In [0]:
func1(11, 'm/s', 24, 'mph', d='unladen', e='swallow')

11 m/s (24, 'mph') unladen swallow

As you can see, defining parameters and passing arguments is extremely flexible in Python! Even more so, when you account for the fact that the parameters are not statically typed!
</br>
</br>
In the next video, we'll look at one more thing we can do with function parameters!

# 7.**kwargs

![alt text](https://drive.google.com/uc?id=1_jXOPOwGNkmA8kpirnqD936Gus1izMY1)

![alt text](https://drive.google.com/uc?id=1N-gaWcfYPUUtg5KovqdeseMItFQNCWel)

![alt text](https://drive.google.com/uc?id=1zQQstyOWrsnEGrrNxLoMZMc7EpEGU_xY)

## Coding time

In [0]:
def func(**kwargs):
    print(kwargs)

func(x=100, y=200)

{'x': 100, 'y': 200}

We can also use it in conjunction with **\*args**:

In [0]:
def func(*args, **kwargs):
    print(args)
    print(kwargs)

func(1, 2, a=100, b=200)

(1, 2)
{'a': 100, 'b': 200}

Note: You cannot do the following:

In [0]:
def func(*, **kwargs):
    print(kwargs)

SyntaxError: ignored

There is no need to even do this, since **\*\*kwargs** essentially indicates no more positional arguments.

In [0]:
def func(a, b, **kwargs):
    print(a)
    print(b)
    print(kwargs)

func(1, 2, x=100, y=200)

1
2
{'x': 100, 'y': 200}

Also, you cannot specify parameters **after** **\*\*kwargs** has been used:

In [0]:
def func(a, b, **kwargs, c):
    pass

SyntaxError: ignored

If you want to specify both specific keyword-only arguments and **\*\*kwargs** you will need to first get to a point where you can define a keyword-only argument (i.e. exhaust the positional arguments, using either **\*args** or just **\***)

In [0]:
def func(*, d, **kwargs):
    print(d)
    print(kwargs)

func(d=1, x=100, y=200)

1
{'x': 100, 'y': 200}

# 8.Putting it all Together

![alt text](https://drive.google.com/uc?id=1GPvd_0zDn-7XfVa5HDA2t8aj7_ofs86A)

![alt text](https://drive.google.com/uc?id=1y9rg761jDBLFGp2j3ME_byd3DgG8Lxuc)

![alt text](https://drive.google.com/uc?id=1D0XqSbxdYg9H8rAgp7wlV9sfOTlGxxJP)

![alt text](https://drive.google.com/uc?id=1fpyu8fMiMnsvtQ8IqnW2ob36deraWFGe)

![alt text](https://drive.google.com/uc?id=16Ap5gYCgdgsf3PRQBP9jWfK7zk-wL6Yh)

## Coding time

Positionals Only: no extra positionals, no defaults (all positionals required)

In [0]:
def func(a, b):
    print(a, b)

func('hello', 'world')

hello world

In [0]:
func(b='world', a='hello')

hello world

Positionals Only: no extra positionals, defaults (some positionals optional)

In [0]:
def func(a, b='world', c=10):
    print(a, b, c)
func('hello')

hello world 10

In [0]:
func('hello', c='!')

hello world !

Positionals Only: extra positionals, no defaults (all positionals required)

In [0]:
def func(a, b, *args):
    print(a, b, args)

func(1, 2, 'x', 'y', 'z')

1 2 ('x', 'y', 'z')

Note that we cannot call the function this way:

In [0]:
func(b=2, a=1, 'x', 'y', 'z')

SyntaxError: ignored

Keywords Only: no positionals, no defaults (all keyword args required)

In [0]:
def func(*, a, b):
    print(a, b)

func(a=1, b=2)

1 2

Keywords Only: no positionals, some defaults (not all keyword args required)

In [0]:
def func(*, a=1, b):
    print(a, b)

func(a=10, b=20)

10 20

In [0]:
func(b=2)

1 2

Keywords and Positionals: some positionals (no defaults), keywords (no defaults)

In [0]:
def func(a, b, *, c, d):
    print(a, b, c, d)

func(1, 2, c=3, d=4)

1 2 3 4

In [0]:
func(1, 2, d=4, c=3)

1 2 3 4

In [0]:
func(1, c=3, d=4, b=2)

1 2 3 4

Keywords and Positionals: some positional defaults

In [0]:
def func(a, b=2, *, c, d=4):
    print(a, b, c, d)

func(1, c=3)

1 2 3 4

In [0]:
func(c=3, a=1)

1 2 3 4

In [0]:
func(1, 2, c=3, d=4)

1 2 3 4

In [0]:
func(c=3, a=1, b=2, d=4)

1 2 3 4

Keywords and Positionals: extra positionals

In [0]:
def func(a, b=2, *args, c=3, d):
    print(a, b, args, c, d)

func(1, 2, 'x', 'y', 'z', c=3, d=4)

1 2 ('x', 'y', 'z') 3 4

Note that if we are going to use the extra arguments, then we cannot actually use a default value for b:

In [0]:
func(1, 'x', 'y', 'z', c=3, d=4)

1 x ('y', 'z') 3 4

as you can see, **b** was assigned the value **x**
</br>
</br>
Keywords and Positionals: no extra positionals, extra keywords

In [0]:
def func(a, b, *, c, d=4, **kwargs):
    print(a, b, c, d, kwargs)

func(1, 2, c=3, x=100, y=200, z=300)

1 2 3 4 {'x': 100, 'y': 200, 'z': 300}

In [0]:
func(x=100, y=200, z=300, c=3, b=2, a=1)

1 2 3 4 {'x': 100, 'y': 200, 'z': 300}

Keywords and Positionals: extra positionals, extra keywords

In [0]:
def func(a, b, *args, c, d=4, **kwargs):
    print(a, b, args, c, d, kwargs)

func(1, 2, 'x', 'y', 'z', c=3, d=5, x=100, y=200, z=300)

1 2 ('x', 'y', 'z') 3 5 {'x': 100, 'y': 200, 'z': 300}

Keywords and Positionals: only extra positionals and extra keywords

In [0]:
def func(*args, **kwargs):
    print(args, kwargs)

func(1, 2, 3, x=100, y=200, z=300)

(1, 2, 3) {'x': 100, 'y': 200, 'z': 300}

### The Print Function

In [0]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [0]:
print(1, 2, 3)

1 2 3

In [0]:
print(1, 2, 3, sep='--')

1--2--3

In [0]:
print(1, 2, 3, end='***\n')

1 2 3***

In [0]:
print(1, 2, 3, sep='\t', end='\t***\t')
print(4, 5, 6, sep='\t', end='\t***\n')

1	2	3	***	4	5	6	***

### Another Use Case

In [0]:
def calc_hi_lo_avg(*args, log_to_console=False):
    hi = int(bool(args)) and max(args)
    lo = int(bool(args)) and min(args)
    avg = (hi + lo)/2
    if log_to_console:
        print("high={0}, low={1}, avg={2}".format(hi, lo, avg))
    return avg

avg = calc_hi_lo_avg(1, 2, 3, 4, 5)
print(avg)

3.0

In [0]:
avg = calc_hi_lo_avg(1, 2, 3, 4, 5, log_to_console=True)
print(avg)

high=5, low=1, avg=3.0
3.0

# 9.Application: a simple function timer

We want to create a simple function that can time how fast a function runs.

We want this function to be generic in the sense that it can be used to time any function (along with it's positional and keyword arguments), as well as specifying the number of the times the function should be timed, and the returns the average of the timings.

We'll call our function **time_it**, and it will need to have the following parameters:

* the function we want to time
* the positional arguments of the function we want to time (if any)
* the keyword-only arguments of the function we want to time (if any)
* the number of times we want to run this function

In [0]:
import time

def time_it(fn, *args, rep=5, **kwargs):
    print(args, rep, kwargs)

Now we could the function this way:

In [0]:
time_it(print, 1, 2, 3, sep='-')

(1, 2, 3) 5 {'sep': '-'}

Let's modify our function to actually run the print function with any positional and keyword args (except for rep) passed to it:

In [4]:
def time_it(func, *args, **kwargs):
    func(*args, **kwargs)

time_it(print, 1, 2, 3, sep='...', end = ' ***')

1...2...3 ***

In [5]:
def time_it(func, *args, rep=1, **kwargs):
    for i in range(rep):
        func(*args, **kwargs)

time_it(print, 1, 2, 3, sep='-', end=' ***\n', rep=5)

1-2-3 ***
1-2-3 ***
1-2-3 ***
1-2-3 ***
1-2-3 ***

In [0]:
def time_it(fn, *args, rep=5, **kwargs):
    for i in range(rep):
        fn(*args, **kwargs)

In [0]:
time_it(print, 1, 2, 3, sep='-')

1-2-3
1-2-3
1-2-3
1-2-3
1-2-3

As you can see **1, 2, 3** was passed to the **print** function's positional parameters, and the keyword_only arg **sep** was also passed to it. 

We can even add more arguments:

In [0]:
time_it(print, 1, 2, 3, sep='-', end=' *** ', rep=3)

1-2-3 *** 1-2-3 *** 1-2-3 ***

Now all that's really left for us to do is to time the function and return the average time:

In [0]:
def time_it(fn, *args, rep=5, **kwargs):
    start = time.perf_counter()
    for i in range(rep):
        fn(*args, **kwargs)
    end = time.perf_counter()
    return (end - start) / rep

Let's write a few functions we might want to time:
</br>
</br>
We'll create three functions that all do the same thing: calculate powers of n**k for k in some range of integer values

In [0]:
def compute_powers_1(n, *, start=1, end):
    # using a for loop
    results = []
    for i in range(start, end):
        results.append(n**i)
    return results

In [0]:
def compute_powers_2(n, *, start=1, end):
    # using a list comprehension
    return [n**i for i in range(start, end)]

In [0]:
def compute_powers_3(n, *, start=1, end):
    # using a generator expression
    return (n**i for i in range(start, end))

Let's run these functions and see the results:

In [0]:
compute_powers_1(2, end=5)

[2, 4, 8, 16]

In [0]:
compute_powers_2(2, end=5)

[2, 4, 8, 16]

In [0]:
list(compute_powers_3(2, end=5))

[2, 4, 8, 16]

Finally let's run these functions through our **time_it** function and see the results:

In [0]:
time_it(compute_powers_1, n=2, end=20000, rep=4)

0.44134646300000213

In [0]:
time_it(compute_powers_2, 2, end=20000, rep=4)

0.4372079142499956

In [0]:
time_it(compute_powers_3, 2, end=20000, rep=4)

3.673500003742447e-06

Although the **compute_powers_3** function appears to be **much** faster than the other two, it doesn't quite do the same thing! 

We'll cover generators in detail later in this course.

# 10.Parameter Defaults: BEWAREEEE!!!

![alt text](https://drive.google.com/uc?id=10iLRsv2Brp37Px1DY-Naxz9vSzBdyM61)

![alt text](https://drive.google.com/uc?id=1ZegQ9Uwj6QGGwtIagHTWQowjO9AfvObg)

![alt text](https://drive.google.com/uc?id=11J9LSwGvmzV4hPbubCCg8xXPag207tAp)

![alt text](https://drive.google.com/uc?id=17nycWDo1ThA8GCN8UAxBN9kz9NtWDeiz)

## Coding time

In [6]:
from datetime import datetime

print(datetime.utcnow())

2020-02-27 18:09:23.170161

In [7]:
def log(msg, *, dt=datetime.utcnow()):
    print(f'{dt}: {msg}')

log('message 1')

2020-02-27 18:10:38.744417: message 1

In [9]:
log('message 2', dt='2001-01-01 00:00:00')

2001-01-01 00:00:00: message 2

In [10]:
log('message 3')

2020-02-27 18:10:38.744417: message 3

In [11]:
log('message 4')

2020-02-27 18:10:38.744417: message 4

As you can see, the default for **dt** is calculated when the function is **defined** and is **NOT** re-evaluated when the function is called.

### Solution Pattern

Here is one pattern we can use to achieve the desired result:

We actually set the default to None - this makes the argument optional, and we can then test for None **inside** the function and default to the current time if it is None.

In [13]:
def log(msg, *, dt=None):
    dt = dt or datetime.utcnow()
    # above is equivalent to:
    #if not dt:
    #    dt = datetime.utcnow()
    print('{0}: {1}'.format(dt, msg))  

log('message 1')

2020-02-27 18:12:08.632267: message 1

In [14]:
log('message 2')

2020-02-27 18:12:14.317386: message 2

In [15]:
log('message 3', dt='2001-01-01 00:00:00')

2001-01-01 00:00:00: message 3

In [16]:
log('message 4')

2020-02-27 18:12:24.484803: message 4

In [17]:
my_list = (1, 2, 3)

def func(a=my_list):
    print(a)

func()

(1, 2, 3)

In [18]:
func(['a', 'b'])

['a', 'b']

In [19]:
my_list.append(4)

AttributeError: ignored

In [20]:
my_list

(1, 2, 3)

In [21]:
func()

(1, 2, 3)

# 11.Parameter Defaults - BEWAREE AGAIN (Coding)

Another gotcha with parameter defaults comes with mutable types, and is an easy trap to fall into.
</br>
</br>
Again, you have to remember that function parameter defaults are evaluated once, when the function is defined (i.e. when the module is loaded, or in this Jupyter notebook, when we "execute" the function definition), and not every time the function is called.
</br>
</br>
Consider the following scenario.

We are creating a grocery list, and we want our list to contain consistently formatted data with name, quantity and measurement unit:

``
bananas (2 units)
grapes (1 bunch)
milk (1 liter)
python (1 medium-rare)
``
</br>
</br>
To make sure the data is consistent, we want to use a function that we can call to add the item to our list.

So we'll need to provide it our current grocery list as well as the item information to be added:

In [0]:
def add_item(name, quantity, unit, grocery_list):
    item_fmt = "{0} ({1} {2})".format(name, quantity, unit)
    grocery_list.append(item_fmt)
    return grocery_list

We have two stores we want to visit, so we set up two grocery lists:

In [0]:
store_1 = []
store_2 = []

In [25]:
add_item('bananas', 2, 'units', store_1)
add_item('grapes', 1, 'bunch', store_1)
add_item('python', 1, 'medium-rare', store_2)

['python (1 medium-rare)']

In [26]:
store_1

['bananas (2 units)', 'grapes (1 bunch)']

In [27]:
store_2

['python (1 medium-rare)']

Ok, working great. But let's make the function a little easier to use - if the user does not supply an existing grocery list to append the item to, let's just go ahead and default our `grocery_list` to an empty list hence starting a new shopping list:

In [28]:
def add_item(name, quantity, unit, grocery_list=[]):
    item_fmt = "{0} ({1} {2})".format(name, quantity, unit)
    grocery_list.append(item_fmt)
    return grocery_list

store_1 = add_item('bananas', 2, 'units')
add_item('grapes', 1, 'bunch', store_1)

['bananas (2 units)', 'grapes (1 bunch)']

In [29]:
store_1

['bananas (2 units)', 'grapes (1 bunch)']

OK, so that seems to be working as expected.

Let's start our second list:

In [0]:
store_2 = add_item('milk', 1, 'gallon')

In [31]:
print(store_2)

['bananas (2 units)', 'grapes (1 bunch)', 'milk (1 gallon)']

??? What's going on? Our second list somehow contains the items that are in the first list.
</br>
</br>
What happened is that the returned value in the first call we made was the default grocery list - but remember that the list was created once and for all when the function was **created** not called. So everytime we call the function, that is the **same** list being used as the default. 

When we started out first list, we were adding item to that default list.

When we started our second list, we were adding items to the **same** default list (since it is the same object).
</br>
</br>
We can avoid this problem using the same pattern as in the previous example we had with the default date time value. We use None as a default value instead, and generate a new empty list (hence starting a new list) if none was provided.

In [32]:
def add_item(name, quantity, unit, grocery_list=None):
    if not grocery_list:
        grocery_list = []
    item_fmt = "{0} ({1} {2})".format(name, quantity, unit)
    grocery_list.append(item_fmt)
    return grocery_list

store_1 = add_item('bananas', 2, 'units')
add_item('grapes', 1, 'bunch', store_1)

['bananas (2 units)', 'grapes (1 bunch)']

In [33]:
store_2 = add_item('milk', 1, 'gallon')
store_2

['milk (1 gallon)']

Issue resolved!
</br>
</br>
However, there are legitimate use cases (well, almost legitimate, often we're better off using a different approach that we'll see when we look at closures), but here's a simple one.

We want our function to cache results, so that we don't recalculate something more than once.

Let's say we have a factorial function, that can be defined recursively as:

`n! = n * (n-1)!`

In [34]:
def factorial(n):
    if n < 1:
        return 1
    else:
        print('calculating {0}!'.format(n))
        return n * factorial(n-1)

factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [36]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

As you can see we had to recalculate all those factorials the second time around.

Let's cache the results leveraging what we saw in the previous example:

In [37]:
def factorial(n, cache={}):
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print('calculating {0}!'.format(n))
        result = n * factorial(n-1)
        cache[n] = result
        return result

factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [38]:
factorial(3)

6

Now as you can see, the second time around we did not have to recalculate all the factorials. In fact, to calculate higher factorials, you'll notice that we don't need to re-run *all* the recursive calls:

In [39]:
factorial(5)

calculating 5!
calculating 4!

120

`5!` and `4!` was calculated since they weren't cached, but since `3!` was already cached we didn't have to recalculate it - it was a quick lookup instead.
</br>
</br>
This technique is something called memoization, and we'll come back to it in much more detail when we discuss closures and decorators.