<a href="https://colab.research.google.com/github/ValentinoVizner/Python_Deep_Dive_1/blob/master/Deep_Dive_1_Function_parametars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1RktVu4GrxabjIrG9nWrKUGeIsrDnN4yd)

# 1.Argument vs Parameter

![alt text](https://drive.google.com/uc?id=1NRveo14B4MwIZcY4UoEPgJql9ChIwzD1)

![alt text](https://drive.google.com/uc?id=1ZYxTcrUlfAcg2fownZCZAA4KsDHB8Zzf)

# 2.POSITIONAL and KEYWORD arguments

![alt text](https://drive.google.com/uc?id=1rUpU4LL_m9G6yv9gD19jwLoliMmWWUL8)

![alt text](https://drive.google.com/uc?id=1aPsOA2RyaDxwdZNZ86PvTbaZq6Satx_I)

![alt text](https://drive.google.com/uc?id=1ec8w9hzR4paeTlUZz-iaqmtF-Widn0xg)

![alt text](https://drive.google.com/uc?id=18J9C5mIyMw4hZhwmyTrYL2i9MhToW6AJ)

![alt text](https://drive.google.com/uc?id=13bn99cvosh7pq4MZgV5voh5dDL40ur9T)

## Coding time

### Positional Arguments

In [0]:
def my_func(a, b, c):
    print(f"a={a}, b={b}, c={c}")

In [0]:
my_func(1, 2, 3)

a=1, b=2, c=3

#### Default Values

In [0]:
def my_func(a, b=2, c=3):
    print(f"a={a}, b={b}, c={c}")

Note that once a parameter is assigned a default value, **all** parameters thereafter **must** be asigned a default value too!
</br>
For example, this will not work:

In [0]:
def fn(a, b=2, c):
    print(a, b, c)

SyntaxError: ignored

In [0]:
def my_func(a, b=2, c=3)
    print(f"a={a}, b={b}, c={c}")

In [0]:
my_func(10, 20, 30)

a=10, b=20, c=30

In [0]:
my_func(10, 20)

a=10, b=20, c=3

In [0]:
my_func(10)

a=10, b=2, c=3

Since **a** does not have a default value, it **must** be specified:

In [0]:
def my_func(a=1, b=2, c=3):
    print(f"a={a}, b={b}, c={c}")

In [0]:
my_func()

a=1, b=2, c=3

#### Keyword Arguments (named arguments)

Positional arguments, can **optionally**, be specified using their corresponding parameter name.

This allows us to pass the arguments without using the positional assignment:

In [0]:
def my_func(a, b=2, c=3):
    print(f"a={a}, b={b}, c={c}")

In [0]:
my_func(c=30, b=20, a=10)

a=10, b=20, c=30

In [0]:
my_func(10, c=30, b=20)

a=10, b=20, c=30

Note that once a keyword argument has been used, **all** arguments thereafter **must** also be named:

In [0]:
my_func(10, b=20, 30)

SyntaxError: ignored

However, if a parameter has a default value, it *can* be omitted from the argument list, named or not:

In [0]:
my_func(10, c=30)

a=10, b=2, c=30

In [0]:
my_func(a=30, c=10)

a=30, b=2, c=10

In [0]:
my_func(c=10, a=30)

a=30, b=2, c=10

# 3.UNPACKING: Iterables

![alt text](https://drive.google.com/uc?id=1QnoOoq52Hmt8QKNfheVe0otIjQSx5wu1)

![alt text](https://drive.google.com/uc?id=1vfUCx-aASJBl2f4q-cO9EFLGTUgvr7uH)

![alt text](https://drive.google.com/uc?id=1cE7IcJZ8PGiefZy9uMDRC1WDz0KO6HEK)

![alt text](https://drive.google.com/uc?id=1eDahnGGOvCEJA89eqlw7pt70Awd-O-Um)

![alt text](https://drive.google.com/uc?id=10GICEPgBZDs9-cyp-GMwif4dT6uPJvfW)

![alt text](https://drive.google.com/uc?id=1LR0pmueadPXr7RpJ4CCnRA6vgu-TuWF0)

![alt text](https://drive.google.com/uc?id=14AiuDje8wdznyTY_XtL4AiecdZd-x_Qe)

## Coding Time

### Side Note on Tuples

This is a tuple:

In [0]:
a = (1, 2, 3)

In [0]:
type(a)

tuple

This is also a tuple:

In [0]:
a = 1, 2, 3

In [0]:
type(a)

tuple

In fact what defines a tuple is not **()**, but the **,** (comma)

To create a tuple with a single element:

In [0]:
a = (1)

will not work!!

In [0]:
type(a)

int

Instead, we have to use a comma:

And in fact, we don't even need the **()**:

In [0]:
a = 1,

In [0]:
type(a)

tuple

The only exception is to create an empty tuple:

In [0]:
a = ()

In [0]:
type(a)

tuple

Or we can use the tuple constructor:

In [0]:
a = tuple()

In [0]:
type(a)

tuple

### Unpacking

Unpacking is a way to split an iterable object into individual variables contained in a list or tuple:

In [0]:
l = [1, 2, 3, 4]

In [0]:
a, b, c, d = l

In [0]:
print(a, b, c, d)

1 2 3 4

Strings are iterables too:

In [0]:
a, b, c = 'XYZ'
print(a, b, c)

X Y Z

### Swapping Two Variables

Here's a quick application of unpacking to swap the values of two variables.
</br>
</br>
First we look at the "traditional" way you would have to do it in other languages such as Java:

In [0]:
a = 10
b = 20
print("a={0}, b={1}".format(a, b))

tmp = a
a = b
b = tmp
print("a={0}, b={1}".format(a, b))

a=10, b=20
a=20, b=10

But using unpacking we can simplify this:

In [0]:
a = 10
b = 20
print("a={0}, b={1}".format(a, b))

a, b = b, a
print("a={0}, b={1}".format(a, b))

a=10, b=20
a=20, b=10

In fact, we can even simplify the initial assignment of values to a and b as follows:

In [0]:
# Python will fistly evaluate RHS and memory
# It's going to create tuple object that will contain references to 10 and 20 and then it assigns
a, b = 10, 20
print("a={0}, b={1}".format(a, b))

a, b = b, a
print("a={0}, b={1}".format(a, b))

a=10, b=20
a=20, b=10

It's not really readable, but it can be handy:

In [0]:
a, b, c = 1, (1,2), [3, 4, 5]
print(a)
print(b)
print(c)

1
(1, 2)
[3, 4, 5]

### Unpacking Unordered Objects

In [0]:
dict1 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [0]:
dict1

{'h': 4, 'n': 6, 'o': 5, 'p': 1, 't': 3, 'y': 2}

### INTERESTING: Here is intresting point that can confuse:

In [0]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
a, b, c, d = d

In [0]:
# d is not Pointing to dictionary but in fact just key in dict
print(a, b, c, d)

a b c d

In [0]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d, a, b, c = d
print(d, a, b, c)

a b c d

In [0]:
for c in dict1:
    print(c)

p
y
t
h
o
n

In [0]:
a, b, c, d, e, f = dict1
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

p
y
t
h
o
n

Note that this order is not guaranteed. You can always use an OrderedDict if that is a requirement.
</br>
</br>
Here we see we can look at indexes.

In [0]:
s = "XYZ"
print(s[0])
print(s[1])
print(s[2])

X
Y
Z

But with sets, it's another story:

In [0]:
s = {1, 2, 3}
print(s[0])

TypeError: ignored

There is no order in SETS/DICTIONARIES!!!!!!

In [0]:
s = {'p', 'y', 't', 'h', 'o', 'n'}

In [0]:
type(s)

set

In [0]:
print(s)

{'h', 'o', 'y', 'p', 'n', 't'}

In [0]:
for c in s:
    print(c)

h
o
y
p
n
t

In [0]:
a, b, c, d, e, f = s

In [0]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

h
o
y
p
n
t

In [0]:
for a, b in dict1.items():
    print(f"key={a}, value={b}")

key=p, value=1
key=y, value=2
key=t, value=3
key=h, value=4
key=o, value=5
key=n, value=6

# 4.EXTENDED Unpacking: * and ** Operators

![alt text](https://drive.google.com/uc?id=1CiA6UFZAAp0Y4GyGfJ_ctXKctCh2561Q)

![alt text](https://drive.google.com/uc?id=1Gjq2jXet6-Tp7sNpPgOg5eJ7cAn4uYol)

![alt text](https://drive.google.com/uc?id=1mOs16JaNMDUs0LUiGLwcx5xxdhyq0hJn)

![alt text](https://drive.google.com/uc?id=1qsGJQF_wtibGyGLUhTGGpZX3tGk0JFNq)

![alt text](https://drive.google.com/uc?id=1htfK5s-MRyHyqh03bW2a7YFxzbNrzhou)

![alt text](https://drive.google.com/uc?id=10c-BtvxABRxksYcn48oVFMli9j6C15ce)

![alt text](https://drive.google.com/uc?id=1T9pHML9w851rsI3OFwugvt1IxztBYwFY)

![alt text](https://drive.google.com/uc?id=1k85rHiiHfGizwvlLLLJDqmEOLchTrj_-)

![alt text](https://drive.google.com/uc?id=1VpmQc43cRY45_HXVpqWKpfFX4IxHFLmk)

![alt text](https://drive.google.com/uc?id=1q-DnfvgiLBV5M_ukk8sIa8dPX_JacfOF)

![alt text](https://drive.google.com/uc?id=1R24lo1Kk0ucp2KghLhcQs__vytkXF6K7)

## Coding time

Let's see how we might split a list into it's first element, and "everything else" using slicing:

In [0]:
l = [1, 2, 3, 4, 5, 6]

In [0]:
a = l[0]
b = l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

We can even use unpacking to simplify this slightly:

In [0]:
a, b = l[0], l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

But we can use the **\*** operator to achieve the same result:

In [0]:
a, *b = l
print(a)
print(b)

1
[2, 3, 4, 5, 6]

With strings:

In [0]:
a, *b = 'python'
print(a)
print(b)

p
['y', 't', 'h', 'o', 'n']

What about extracting the first, second, last elements and *the rest*.
</br>
</br>
Again we can use slicing:

In [0]:
s = 'python'

a, b, c, d = s[0], s[1], s[2:-1], s[-1]
print(a)
print(b)
print(c)
print(d)

p
y
tho
n

But we can just as easily do it this way using unpacking:

In [0]:
a, b, *c, d = s
print(a)
print(b)
print(c)
print(d)

p
y
['t', 'h', 'o']
n

As you can see though, **c** is a list of characters, not a string.

It that's a problem we can easily fix it this way:

In [0]:
print(c)
c = ''.join(c)
print(c)

['t', 'h', 'o']
tho

We can also use unpacking on the right hand side of an assignment expression:

In [0]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l = [*l1, *l2]
print(l)

[1, 2, 3, 4, 5, 6]

In [0]:
l1 = [1, 2, 3]
s = 'ABC'
l = [*l1, *s]
print(l)

[1, 2, 3, 'A', 'B', 'C']

This unpacking works with unordered types such as sets and dictionaries as well.

The only thing is that it may not be very useful considering there is no particular ordering, so a first or last element has no real useful meaning.

In [0]:
s = {10, -99, 3, 'd'}

In [0]:
for c in s:
    print(c)

d
10
3
-99

As you can see, the order of the elements when we created the set was not retained!

In [0]:
s = {10, -99, 3, 'd'}
a, b, *c = s
print(a)
print(b)
print(c)

d
10
[3, -99]

So unpacking this way is of limited use.

However consider this:

In [0]:
s = {10, -99, 3, 'd'}
*a, = s
print(a)

['d', 10, 3, -99]

At first blush, this doesn't look terribly exciting - we simply unpacked the set values into a list.

But this is actually quite useful in both sets and dictionaries to combine things (although to be sure, there are alternative ways to do this as well - which we'll cover later in this course)

In [0]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

How can we combine both these sets into a single merged set?

In [0]:
s1 + s2

TypeError: ignored

Well, **+** doesn't work...
</br>
</br>
We could use the built-in method for unioning sets:

In [0]:
print(s1)
print(s2)
s1.union(s2)

{1, 2, 3}
{3, 4, 5}

{1, 2, 3, 4, 5}

What about joining 4 different sets?

In [0]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
s4 = {7, 8, 9}
print(s1.union(s2).union(s3).union(s4))
print(s1.union(s2, s3, s4))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

Or we could use unpacking in this way:

In [0]:
{*s1, *s2, *s3, *s4}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

What we did here was to unpack each set directly into another set!
</br>
</br>
The same works for dictionaries - just remember that **\*** for dictionaries unpacks the keys only.

In [0]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}
[*d1, *d2]

['key1', 'key2', 'key2', 'key3']

So, is there anything to unpack the key-value pairs for dictionaries instead of just the keys?
</br>
</br>
Yes - we can use the **\*\*** operator:

In [0]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}

{**d1, **d2}

{'key1': 1, 'key2': 3, 'key3': 3}

Notice what happened to the value of **key2**. The value for the second occurrence of **key2** was retained (overwritten).
</br>
</br>
In fact, if we write the unpacking reversing the order of d1 and d2:

In [0]:
{**d2, **d1}

{'key1': 1, 'key2': 2, 'key3': 3}

we see that the value of **key2** is now **2**, since it was the second occurrence.
</br>
</br>
Of course, we can unpack a dictionary into a dictionary as seen above, but we can mix in our own key-value pairs as well - it is just a dictionary literal after all.

In [0]:
{'a': 1, 'b': 2, **d1, **d2, 'c':3}

{'a': 1, 'b': 2, 'c': 3, 'key1': 1, 'key2': 3, 'key3': 3}

Again, if we have the same keys, only the "latest" value of the key is retained:

In [0]:
{'key1': 100, **d1, **d2, 'key3': 200}

{'key1': 1, 'key2': 3, 'key3': 200}

### Nested Unpacking

Python even supports nested unpacking:

In [0]:
a, b, (c, d) = [1, 2, ['X', 'Y']]
print(a)
print(b)
print(c)
print(d)

1
2
X
Y

In fact, since a string is an iterable, we can even write:

In [0]:
a, b, (c, d) = [1, 2, 'XY']
print(a)
print(b)
print(c)
print(d)

1
2
X
Y

We can even write something like this:

In [0]:
a, b, (c, d, *e) = [1, 2, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
p
y
['t', 'h', 'o', 'n']

Remember when we said that we can use a * only **once**...
</br>
</br>
How about this then?

In [0]:
a, *b, (c, d, *e) = [1, 2, 3, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

We can break down what happened here in multiple steps:

In [0]:
a, *b, tmp = [1, 2, 3, 'python']
print(a)
print(b)
print(tmp)

1
[2, 3]
python

In [0]:
c, d, *e = tmp
print(c)
print(d)
print(e)

p
y
['t', 'h', 'o', 'n']

So putting it together we get our original line of code:

In [0]:
a, *b, (c, d, *e) = [1, 2, 3, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

If we wanted to do the same thing using slicing:

In [0]:
l = [1, 2, 3, 'python']
l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])

(1, [2, 3], 'p', 'y', ['t', 'h', 'o', 'n'])

In [0]:
l = [1, 2, 3, 'python']
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

Of course, this works for arbitrary lengths and indexable sequence types:

In [0]:
l = [1, 2, 3, 4, 'unladen swallow']
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3, 4]
u
n
['l', 'a', 'd', 'e', 'n', ' ', 's', 'w', 'a', 'l', 'l', 'o', 'w']

or even:

In [0]:
l = [1, 2, 3, 4, ['a', 'b', 'c', 'd']]
a, b, c, d, e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3, 4]
a
b
['c', 'd']

# 5.*ARGS

![alt text](https://drive.google.com/uc?id=1ljSEgf2-bg2xu02nYZXpp9CUpBCs_PuP)

![alt text](https://drive.google.com/uc?id=1J601rUKwjG7GIb80V5NchcaF17vZ6HHd)

![alt text](https://drive.google.com/uc?id=1GmLwxOAIfzbyZnTU-72_ixP2D7HxdTDh)

![alt text](https://drive.google.com/uc?id=1oKNeyCqqeatpapxCk2TkUcv4ltNTjFu7)

## Codig time

Recall from iterable unpacking:

In [0]:
a, b, *c = 10, 20, 'a', 'b'

In [0]:
print(a, b)
print(c)

We can use a similar concept in function definitions to allow for arbitrary numbers of **positional** parameters/arguments:

In [0]:
def func1(a, b, *args):
    print(a)
    print(b)
    print(args)

In [0]:
func1(1, 2, 'a', 'b')

A few things to note:
</br>
</br>
1. Unlike iterable unpacking, **\*args** will be a **tuple**, not a list.

2. The name of the parameter **args** can be anything you prefer

3. You cannot specify positional arguments **after** the **\*args** parameter - this does something different that we'll cover in the next lecture.

In [0]:
def func1(a, b, *my_vars):
    print(a)
    print(b)
    print(my_vars)

func1(10, 20, 'a', 'b', 'c')

In [0]:
def func1(a, b, *c, d):
    print(a)
    print(b)
    print(c)
    print(d)

func1(10, 20, 'a', 'b', 100)

Let's see how we might use this to calculate the average of an arbitrary number of parameters.

In [2]:
def avg(*args):
    count = len(args)
    total = sum(args)
    return total/count

avg(2, 2, 4, 4)

3.0

But watch what happens here:

In [3]:
avg()

ZeroDivisionError: ignored

The problem is that we passed zero arguments.

We can fix this in one of two ways:

In [4]:
def avg(*args):
    count = len(args)
    total = sum(args)
    if count == 0:
        return 0
    else:
        return total/count

avg(2, 2, 4, 4)

3.0

In [5]:
avg()

0

But we may not want to allow specifying zero arguments, in which case we can split our parameters into a required (non-defaulted) positional argument, and the rest:

In [6]:
def avg(a, *args):
    count = len(args) + 1
    total = a + sum(args)
    return total/count

avg(2, 2, 4, 4)

3.0

In [7]:
avg()

TypeError: ignored

As you can see, an exception occurs if we do not specify at least one argument.

### Unpacking an iterable into positional arguments

In [0]:
def func1(a, b, c):
    print(a)
    print(b)
    print(c)

l = [10, 20, 30]

This will **not** work:

In [9]:
func1(l)

TypeError: ignored

The function expects three positional arguments, but we only supplied a single one (albeit a list).

But we could unpack the list, and **then** pass it to as the function arguments:

In [11]:
*l,

(10, 20, 30)

In [12]:
func1(*l)

10
20
30

What about mixing positional and keyword arguments with this?

In [13]:
def func1(a, b, c, *d):
    print(a)
    print(b)
    print(c)
    print(d)

func1(10, c=20, b=10, 'a', 'b')

SyntaxError: ignored

Recall that once a keyword argument is used in a function call, we **cannot** use positional arguments after that. 

However, in the next lecture we'll look at how to address this issue.

# 6.Keyword Arguments

![alt text](https://drive.google.com/uc?id=1-sPK1aHLjFhpwE7wtR7euNLpifeqU-Hd)

![alt text](https://drive.google.com/uc?id=1fOuOJSi8slqUvI_um_FaXIGxRp52C6ao)

![alt text](https://drive.google.com/uc?id=1I7A85rR3r2QNuAq_VhuDcxqEPm3InJEg)

![alt text](https://drive.google.com/uc?id=1LX1lvrE8X0MJ1LX03ayKOSjbKr48LArC)