<a href="https://colab.research.google.com/github/ValentinoVizner/Python_Deep_Dive_1/blob/master/Python_Quick_Refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python Type Hierarchy!

![alt text](https://drive.google.com/uc?id=15MxhJdymQytowd1EQxCleIkdgOOtYWy6) ![alt text](https://drive.google.com/uc?id=13Usk9j2ygWmJSbySXslA_YEJLmyJcjMs) ![alt text](https://drive.google.com/uc?id=1CbC2PSfZhmueUWg7Tis2kVNPt7qlTOhF)

# 2. Multi-line strings and statements

![alt text](https://drive.google.com/uc?id=1iSiXivW7YDj-mZmrBTm-hGJhwtrTUETR)
![alt text](https://drive.google.com/uc?id=1VH1lPdHNx5_WhFys_8wwkniBy7A0JIjz)
![alt text](https://drive.google.com/uc?id=192_wk6M6YFIrTXaKu6xr9UN8PLGymEaG)
![alt text](https://drive.google.com/uc?id=1yssu6D18TbNbt6TwVNVNOlpXQPNwbG3C)

In [0]:
a = [1, 
    2, 
    3]
a

[1, 2, 3]

In [0]:
a = [1, #first element
    2, #second element
    3, #third element
    ]

a

[1, 2, 3]



Note if you do use comments, you must close off the collection on a new line.

i.e. the following will not work since the closing ] is actually part of the comment:

In [0]:
a = [1, # first element
    2 #second element]

SyntaxError: ignored

This works the same way for tuples, sets, and dictionaries.

In [0]:
a = (1, # first element
    2, #second element
    3, #third element
    )
a

(1, 2, 3)

In [0]:
a = {1, # first element
    2, #second element
    }
a

{1, 2}

In [0]:
a = {'key1': 'value1', #comment,
    'key2': #comment
    'value2' #comment
    }
a

{'key1': 'value1', 'key2': 'value2'}

We can also break up function arguments and parameters:

In [0]:
def my_func(a, #some comment
           b, c):
    print(a, b, c)

In [0]:
my_func(10, #comment
       20, #comment
       30)

10 20 30

#### Explicit Examples
You can use the \ character to explicitly create multi-line statements.

In [0]:
a = 10
b = 20
c = 30
if a > 5 \
    and b > 10 \
    and c > 20:
    print('yes!!')

yes!!

The identation in continued-lines does not matter:

In [0]:
a = 10
b = 20
c = 30
if a > 5 \
    and b > 10 \
        and c > 20:
    print('yes!!')

yes!!

#### Multi-Line Strings
You can create multi-line strings by using triple delimiters (single or double quotes)

In [0]:
a = '''this is
a multi-line string'''
print(a)

this is
a multi-line string

Be careful if you indent your multi-line strings - the extra spaces are preserved!

In [0]:
def my_func():
    a = '''a multi-line string
    that is actually indented in the second line'''
    return a

In [0]:
print(my_func())

a multi-line string
    that is actually indented in the second line

In [0]:
def my_func():
    a = '''a multi-line string
that is not indented in the second line'''
    return a

In [0]:
print(my_func())

a multi-line string
that is not indented in the second line

# 3. Variable names

![alt text](https://drive.google.com/uc?id=1wEvPWKaeK28QVUkxEw2sTiRnU9Jwi09D)

![alt text](https://drive.google.com/uc?id=1Dz3V2qabTIHG4e6NEpU-F6TT8bUbSQcs)

![alt text](https://drive.google.com/uc?id=1MQeeY-Q_azkNZzgbMdUOfIAUGRw2dXPD)

# 4. CONDITIONALS

Python doesn't have SWITCH-CASE

## Ternary Operator in Python
Ternary operators also known as conditional expressions are operators that evaluate something based on a condition being true or false. It was added to Python in version 2.5.
It simply allows to test a condition in a single line replacing the multiline if-else making the code compact.
Syntax :

    [on_true] if [expression] else [on_false]

In [21]:
# Nicer way then usual if-elif-else
a = 5

b = 'a < 5' if a < 5 else 'a >= 5'
print(b)

a >= 5

Ternary returns a value, so we don't have to assigne a variable to it

In [22]:
'a < 5' if a < 5 else 'a >= 5'

'a >= 5'

# 5. Functions

## BUILT-IN Functions

In [23]:
a = [1,2,3]

len(a)

3

## Imported functions from some package i.e. module

In [24]:
from math import sqrt

sqrt(4)

2.0

In [27]:
import math

print(math.pi)

math.exp(1)

3.141592653589793

2.718281828459045

## User definded functions

In [0]:
def my_func(a: int, b: float):
    return a * b

In [29]:
my_func(1, 2)

2

In [30]:
my_func('a', 3)

'aaa'

In [31]:
my_func([1, 2], 4)

[1, 2, 1, 2, 1, 2, 1, 2]

 So we can see this is only type hinting in function it DOESN'T force our compiler to show error if the type is not satisfied

Note that to "call" or "invoke" a function we need to use the ().

Simply using the function name without the () refers to the function, but does not call it:

In [32]:
my_func

The def keyword is an executable piece of code that creates the function (an instance of the function class) and essentially assigns it to a variable name (the function name).

Note that the function is defined when def is reached, but the code inside it is not evaluated until the function is called.

This is why we can define functions that call other functions defined later - as long as we don't call them before all the necessary functions are defined.

In [33]:
def fn_1():
    fn_2()
    
def fn_2():
    print('Hello')
    
fn_1()

Hello

As long as we define functions and later on we call those functions after they are defined we don't get an error, Python doesn't care in which order we define functions.

In [34]:
def fn_3():
    fn_4()

fn_3()

def fn_4():
    print('Hello')

NameError: ignored

But if we invoke function before we define other function that uses function that is defined later on then we get an error.
That is why dunder __main__ at the end is so useful

We also have the lambda keyword, that also creates a new function, but does not assign it to any specific name - instead it just returns the function object - which we can, if we wish, assign to a variable ourselves.
It is meant to be used as a ANONYMOUS FUNCTION, i.e. passed to other functions mainly

In [0]:
func_5 = lambda x: x**2

In [37]:
func_5

In [38]:
func_5(3)

9

# 6. While loop

In Python we do not have do-while:

do

> something


while 'expr'

But we can simulate it with this:

In [40]:
i = 5

while True:
    print(i)
    if i >= 5:
        break
        print('something')

5

As you can see the loop executed once (and will always execute at least once, no matter the starting value of i.)

This is a standard pattern and can be useful in a variety of scenarios.

A simple example might be getting repetitive user input until the user performs and action or provides some specific value.

In [43]:
min_length = 2
name = input('Please enter your name: ')

while not(len(name) >= min_length and name.isprintable() and name.isalpha()):
    name = input('Please enter your name: ')

print(f'Hello {name}.')

Please enter your name: a
Please enter your name: vaba
Hello vaba.

It is not a good practice to repeat code, so let's refactore it

In [47]:
min_length = 2

while True:
    name = input('Please enter your name: ')
    if len(name) >= min_length and name.isprintable() and name.isalpha():
        break
print(f'Hello {name}.')

Please enter your name: aa
Hello aa.

We saw how the break statement exits the while loop and execution resumes on the line immediately after the while code block.

Sometimes, we just want to cut the current iteration short, but continue looping, without exiting the loop itself.

This is done using the continue statement:

In [48]:
a = 0
while a < 10:
    a += 1
    if a % 2:
        continue
    print(a)

2
4
6
8
10

Note that there are much better ways of doing this! We'll cover that in later videos (comprehensions, generators, etc)

The **while** loop also can be used with an **else** clause!!

Suppose we want to test if some value is present in some list, and if not we want to append it to the list (again there are better ways of doing this):

First, here's how we might do it without the benefit of the **else** clause:

In [49]:
l = [1, 2, 3]
val = 10

found = False
idx = 0
while idx < len(l):
    if l[idx] == val:
        found = True
        break
    idx += 1
    
if not found:
    l.append(val)
print(l)

[1, 2, 3, 10]

Using the **else** clause is easier:

In [50]:
l = [1, 2, 3]
val = 10

idx = 0
while idx < len(l):
    if l[idx] == val:
        break
    idx += 1
else:
    l.append(val)

print(l)

[1, 2, 3, 10]