<a href="https://colab.research.google.com/github/ValentinoVizner/Python_Deep_Dive_1/blob/master/Python_Quick_Refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python Type Hierarchy!

![alt text](https://drive.google.com/uc?id=15MxhJdymQytowd1EQxCleIkdgOOtYWy6) ![alt text](https://drive.google.com/uc?id=13Usk9j2ygWmJSbySXslA_YEJLmyJcjMs) ![alt text](https://drive.google.com/uc?id=1CbC2PSfZhmueUWg7Tis2kVNPt7qlTOhF)

# 2. Multi-line strings and statements

![alt text](https://drive.google.com/uc?id=1iSiXivW7YDj-mZmrBTm-hGJhwtrTUETR)
![alt text](https://drive.google.com/uc?id=1VH1lPdHNx5_WhFys_8wwkniBy7A0JIjz)
![alt text](https://drive.google.com/uc?id=192_wk6M6YFIrTXaKu6xr9UN8PLGymEaG)
![alt text](https://drive.google.com/uc?id=1yssu6D18TbNbt6TwVNVNOlpXQPNwbG3C)

In [1]:
a = [1, 
    2, 
    3]
a

[1, 2, 3]

In [2]:
a = [1, #first element
    2, #second element
    3, #third element
    ]

a

[1, 2, 3]



Note if you do use comments, you must close off the collection on a new line.

i.e. the following will not work since the closing ] is actually part of the comment:

In [3]:
a = [1, # first element
    2 #second element]

SyntaxError: ignored

This works the same way for tuples, sets, and dictionaries.

In [4]:
a = (1, # first element
    2, #second element
    3, #third element
    )
a

(1, 2, 3)

In [5]:
a = {1, # first element
    2, #second element
    }
a

{1, 2}

In [6]:
a = {'key1': 'value1', #comment,
    'key2': #comment
    'value2' #comment
    }
a

{'key1': 'value1', 'key2': 'value2'}

We can also break up function arguments and parameters:

In [0]:
def my_func(a, #some comment
           b, c):
    print(a, b, c)

In [8]:
my_func(10, #comment
       20, #comment
       30)

10 20 30

#### Explicit Examples
You can use the \ character to explicitly create multi-line statements.

In [11]:
a = 10
b = 20
c = 30
if a > 5 \
    and b > 10 \
    and c > 20:
    print('yes!!')

yes!!

The identation in continued-lines does not matter:

In [12]:
a = 10
b = 20
c = 30
if a > 5 \
    and b > 10 \
        and c > 20:
    print('yes!!')

yes!!

#### Multi-Line Strings
You can create multi-line strings by using triple delimiters (single or double quotes)

In [14]:
a = '''this is
a multi-line string'''
print(a)

this is
a multi-line string

Be careful if you indent your multi-line strings - the extra spaces are preserved!

In [0]:
def my_func():
    a = '''a multi-line string
    that is actually indented in the second line'''
    return a

In [17]:
print(my_func())

a multi-line string
    that is actually indented in the second line

In [0]:
def my_func():
    a = '''a multi-line string
that is not indented in the second line'''
    return a

In [19]:
print(my_func())

a multi-line string
that is not indented in the second line

# 3. Variable names

![alt text](https://drive.google.com/uc?id=1wEvPWKaeK28QVUkxEw2sTiRnU9Jwi09D)

![alt text](https://drive.google.com/uc?id=1Dz3V2qabTIHG4e6NEpU-F6TT8bUbSQcs)

![alt text](https://drive.google.com/uc?id=1MQeeY-Q_azkNZzgbMdUOfIAUGRw2dXPD)